name: Release
on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  metadata:
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.metadata.outputs.TAG_NAME }}
      build_timestamp: ${{ steps.metadata.outputs.BUILD_TIMESTAMP }}
      commit_hash: ${{ steps.metadata.outputs.COMMIT_HASH }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate metadata
        id: metadata
        run: |
          echo "TAG_NAME=${{ github.ref_name }}" >> "$GITHUB_OUTPUT"
          echo "COMMIT_HASH=$(git rev-parse HEAD)" >> "$GITHUB_OUTPUT"
          echo "BUILD_TIMESTAMP=$(date '+%Y-%m-%dT%H:%M:%S')" >> "$GITHUB_OUTPUT"

  # Cross compiling the binary with go is fast enough
  binary:
    needs: metadata
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux]
        goarch: [amd64, arm64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "^1.24.0"

      - name: Install dependencies
        run: go mod download

      # -s -w can be added to strip debug symbols and reduce binary size
      - name: Build
        run: go build -ldflags "\
          -X github.com/jaxxstorm/sentinel/internal/constants.TagName=${{ needs.metadata.outputs.tag_name }} \
          -X github.com/jaxxstorm/sentinel/internal/constants.BuildTimestamp=${{ needs.metadata.outputs.build_timestamp }} \
          -X github.com/jaxxstorm/sentinel/internal/constants.CommitHash=${{ needs.metadata.outputs.commit_hash }}" -o sentinel-${{ matrix.goos }}-${{ matrix.goarch }} ./cmd/sentinel
        env:
          CGO_ENABLED: 0
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sentinel-${{ matrix.goos }}-${{ matrix.goarch }}
          path: sentinel-${{ matrix.goos }}-${{ matrix.goarch }}

  # For images cross compiling is terribly slow, so we will use native runners
  image-build:
    needs:
      - metadata
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        id: build
        with:
          platforms: linux/amd64
          labels: ${{ steps.meta.outputs.labels }}
          tags: ghcr.io/${{ github.repository }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          file: Dockerfile
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          github-token: ${{ secrets.GITHUB_TOKEN }}
          build-args: |
            TAG_NAME=${{ needs.metadata.outputs.tag_name }}
            COMMIT_HASH=${{ needs.metadata.outputs.commit_hash }}
            BUILD_TIMESTAMP=${{ needs.metadata.outputs.build_timestamp }}

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-linux-amd64
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  image-build-arm:
    needs:
      - metadata
    runs-on: ubuntu-latest-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        id: build
        with:
          platforms: linux/arm64
          labels: ${{ steps.meta.outputs.labels }}
          tags: ghcr.io/${{ github.repository }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          file: Dockerfile
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          github-token: ${{ secrets.GITHUB_TOKEN }}
          build-args: |
            TAG_NAME=${{ needs.metadata.outputs.tag_name }}
            COMMIT_HASH=${{ needs.metadata.outputs.commit_hash }}
            BUILD_TIMESTAMP=${{ needs.metadata.outputs.build_timestamp }}

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-linux-arm64
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  image-merge:
    runs-on: ubuntu-latest
    needs:
      - image-build
      - image-build-arm
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          flavor: |
            prefix=v,onlatest=false
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf 'ghcr.io/${{ github.repository }}@sha256:%s ' *)

  update-release:
    needs: binary
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: sentinel-*
          path: binaries
          merge-multiple: true

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: binaries/*
